p{
	font-family: neue-haas-unica, sans-serif;
	font-weight: 100;
	font-style: normal;
	font-size: 15px;
}



.box {
	padding-right: 11px;
	width: 981px;
	margin: auto;
	height: 685px;
	margin-top: 0;
}

img {
	float: left;
	width: 46%;
	padding: 10px;
}

/*	margin:auto;
	background-color:#082759;
	height:80px;
	position:relative;
	padding:0;
*/

/*section.second h1{
	margin-top: 0px;
	padding-top: 45px;
	text-align: center;
	font-size: 40px;
	font-weight: 400px;
	color: #251A02;
}*/


/*.grid{
	float: left;
	width: 46%;
	padding: 10px;
}

.grid h2{
	font-size: 20px;
	margin-top: 7px;
	line-height: 10px;
	margin-bottom: 13px;
	color: #251A02;
}

.grid p{
	width: 430px;
	font-size: 18px;
	margin-top: 0;
	line-height: 25px;
	color: #655B46;
}

.grid img{
	float: left;
	padding-right: 11px;
	padding-left: 6px;*/