body{
	padding-top: 30px;
	padding-bottom: 3.2em;
	margin-left: 20%;
	margin-right: 20%;
}

/*a{
	color:black;
	text-decoration: none; 
	font-family: neue-haas-unica, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 25px;
}*/

.link{
	color:black;
	text-decoration: none; 
	font-family: neue-haas-unica, sans-serif;
	font-weight: 100;
	font-style: normal;
	font-size: 25px;
}

.arrow{
	color:black;
	text-decoration: none; 
	font-family: neue-haas-unica, sans-serif;
	font-weight: 100;
	font-style: normal;
	font-size: 25px;
	text-align: right;
	float: right;
}

.leftarrow{
	color:black;
	text-decoration: none; 
	font-family: neue-haas-unica, sans-serif;
	font-weight: 100;
	font-style: normal;
	font-size: 25px;
	text-align: left;
	float: left;
}


p{
	font-family: neue-haas-unica, sans-serif;
	font-weight: 100;
	font-style: normal;
	font-size: 15px;
	width: 45%;
	padding-left:30px; 
	padding-bottom: 30px;
}

.box {
	padding-right: 11px;
	width: 100%;
	margin: auto;
	height: 1565px;
	margin-top: 0;
	padding-bottom: 3.2em;
}

.left {
	float: left;
	width: 46%;
	padding-left: 30px;
}

img {
	float: right;
	width: 46%;
	padding-bottom: 150px;
}

footer{
	font-size: 13px;
	color:black;
	line-height: 20px;
	text-decoration: none; 
	font-family: neue-haas-unica, sans-serif;
	font-weight: 100;
	font-style: normal;
	font-size: 15px;
	padding-left: 11px;
	padding-top:3px;
}
