body {
	background-color: #fffae9; 
}

.header{
	margin-top:25px;
	text-align: center;
	font-size: 26px;
	text-align: left;
	font-family: 'Locxa', serif;	
	color: #d12129;
	margin-bottom: -7px;
	letter-spacing: 2px;
}

.header2 {
	text-align: center;
	font-size: 18px;
	text-align: left;
	font-family: 'Locxa', serif;	
	color: #d12129;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #d12129;
    margin: 1em .8em;
    padding: 0;
}

p{
	margin-left: 15px;
	margin-right: 15px;
	font-size:16px;
	font-family: 'Loca', serif;	color: #d12129;
	padding-left: 5px;
	color:black;
	line-height: 20px;
}

.heading{
	text-align: left;
	font-size:18px;
	font-family: 'Loca', serif;	color: #d12129;
	color: #d12129;
	letter-spacing: 1px;
}


.box {

	width: 200%;
	margin: auto;
	height: 300%;
	margin-top: 0;
}

.times{
	float: left;
	width: 46%;
	padding: 10px;
}

.times p.heading {
	text-align: left;
	font-size:12px;
	font-family: 'Loca', serif;	color: #d12129;
	color: #d12129;
	margin-bottom: -15px;
	margin-top: 10px;
}

.times p{
	text-align: left;
	font-size:14px;
	font-family: 'Loca', serif;	color: #d12129;
	color:black;
}

.times img{
	margin-top: 8px;
	float: right;
	height: 60%;
	width: 62%;
	margin-left: 3%;
	margin-right: 0;
	margin-bottom: 5%;
}