h1{
	text-align: center;
	font-size:60px;
	font-family: Domus Titling Extrabold;
}

h2{
	text-align: center;
	font-weight: bold; 
	font-family: Domus Titling Extrabold;
}
p{
	text-align: center;
	font-size:16px;
	font-family: Halyard Micro ;

}
body {
	background-color: white;
	color: black;
}
p.extra{
	font-size:18px;
	color: #26C6DA  ;
	font-family: Domus Titling Extrabold;
}
p.fun{
	font-size:30px;
	color: #FF5722  ;
	font-family: Domus Titling Extrabold;
}
p.kanye{
	font-size:17px;
	color: #FFB300  ;
	font-family: Domus Titling Extrabold;
}
p.poop{
	font-size:23px;
	color: #FF9800  ;
	font-family: Domus Titling Extrabold;
}
.leftbox{ 
  background-color: #80DEEA  ;
  position: absolute;
  height: 275%;
  width: 15%;
  left: 0%;
  top: 0%;
}
.rightbox{ 
  background-color: #80DEEA  ;
  position: absolute;
  height: 275%;
  width: 15%;
  right: 0%;
  top: 0%;
}