body {
	color: #333;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

#main_content {
	margin: 40px;
}

h1 {
	font-size: 30px;
	margin-bottom: 40px;
}

.button_container {
	border: 1px solid #ddd;
	margin: 0 10px 10px 0;
	padding: 20px;
	width: 300px;
	height: 300px;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
	text-align: center;
}

a#btn_spotify {
	display: inline-block;
	height: 50px;
	box-sizing: border-box;
	border-radius: 25px;
	margin: auto;
	margin-top: 100px;
	padding: 10px 40px 0 40px;
	background-color: #2ebd59;
	border: 2px solid #2ebd59;
	color: #fff;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-decoration: none;
}

a#btn_spotify:hover {
	background-color: #fff;
	border: 2px solid #000;
	color: #000;
}

a#btn_twitter {
	display: inline-block;
	height: 40px;
	box-sizing: border-box;
	border-radius: 4px;
	margin: auto;
	margin-top: 105px;
	padding: 10px 30px 0 30px;
	background-color: #56cdf1;
	color: #fff;
	font-size: 18px;
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	text-decoration: none;
}

a#btn_twitter:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2ebfec+0,28a5cb+100 */
	background: #2ebfec; /* Old browsers */
	background: -moz-linear-gradient(top,  #2ebfec 0%, #28a5cb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2ebfec), color-stop(100%,#28a5cb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2ebfec 0%,#28a5cb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2ebfec 0%,#28a5cb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2ebfec 0%,#28a5cb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2ebfec 0%,#28a5cb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ebfec', endColorstr='#28a5cb',GradientType=0 ); /* IE6-9 */
}

a#btn_amazon {
	display: block;
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	border-radius: 50px;
	margin: auto;
	margin-top: 75px;
	padding-top: 8px;
	background-color: #232f3e;
	color: #fff;
	text-align: center;
	font-size: 60px;
}

a#btn_amazon:hover {
	background-color: #fc9a18;
}


a#btn_indiegogo {
	display: inline-block;
	margin:auto;
	margin-top: 100px;
	padding: 8px 16px;
	background-color: #fff;
	color: #eb1478;
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: -2px;
}

a#btn_indiegogo:hover {
	color: #fff;
	background-color: #eb1478;
}

a#btn_moo {
	display: block;
	margin-top: 100px;
	color: #0ba53e;
	font-family: 'Maven Pro', sans-serif;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 400;
	text-decoration: none;
}

a#btn_moo:hover {
	transform: scale(2);
	transition-duration: 0.7s
}

a#btn_nike {
	display: inline-block;
	margin: auto;
	margin-top: 95px;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 400;
	text-decoration: none;
	font-family: 'Fjalla One', sans-serif;
	color: black;
}

a#btn_nike:hover {
	display: inline-block;
	margin-top: 100px;
	width: 100px;
	padding: 6px 16px;
	background: black;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 400;
	text-decoration-line: none;
	font-family: 'Fjalla One', sans-serif;
	letter-spacing: 0px;
	color:white;
}

a#btn_pottermore {
	display: inline-block;
	margin: auto;
	margin-top: 95px;
	font-size: 55px;
	font-weight: 400;
	text-decoration: none;
	color: #152999;
    font-family: 'Dancing Script', cursive;
}

a#btn_pottermore:hover {
	transform: scale(.3);
	transition-duration: .9s;
	color:white;
}

a#btn_Coca-Cola {
	display: block;
	width: 100px;
	height: 100px;
	margin: auto;
	box-sizing: border-box;
	border-radius: 50px;
	margin: auto;
	margin-top: 75px;
	padding-top: 10px;
	background-color: red;
	color: white;
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	text-decoration-line: none;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3019+39,cf0404+74,cf0404+74,cf0404+74 */
	background: #ff3019; /* Old browsers */
	background: -moz-linear-gradient(top, #ff3019 39%, #cf0404 74%, #cf0404 74%, #cf0404 74%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ff3019 39%,#cf0404 74%,#cf0404 74%,#cf0404 74%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ff3019 39%,#cf0404 74%,#cf0404 74%,#cf0404 74%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}

a#btn_Coca-Cola:hover {
	display: inline-block;
	margin: auto;
	margin-top: 50px;
	font-size: 50px;
	font-weight: 700;
	text-decoration: none;
	color: red;
	font-family: 'Dancing Script', cursive;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+39,ffffff+76,ffffff+100 */
	background: none; /* Old browsers */	
}

a#btn_Samsung{
	display: inline-block;
	margin: auto;
	margin-top: 95px;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 400;
	text-decoration: none;
	font-family: 'Fjalla One', sans-serif;
	color: #152999;
}

a#btn_Samsung:hover {
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

a#btn_The{
	display: inline-block;
	margin: auto;
	margin-top: 95px;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 400;
	text-decoration: none;
	font-family: 'Fjalla One', sans-serif;
	color: #F17CCA;
	text-align: center;
}

a#btn_Color{
	display: inline-block;
	margin: auto;
	margin-top: 90px;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 400;
	text-decoration: none;
	font-family: 'Fjalla One', sans-serif;
	color: #F9FC0D;
	text-align: center;
}

a#btn_Run{
	display: inline-block;
	margin: auto;
	margin-top: 80px;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 400;
	text-decoration: none;
	font-family: 'Fjalla One', sans-serif;
	color: #2FC4F8;
	text-align: center;
}

a#btn_Color:hover {
	transform: rotate(360deg);
	transition-duration: 1s;
	display: inline-block;
	margin: auto;
	margin-top: 95px;
	text-transform: uppercase;
	font-size: 45px;
	font-weight: 400;
	text-decoration: none;
	font-family: 'Fjalla One', sans-serif;
	background: linear-gradient(to right, #F17CCA, #F9FC0D, #2FC4F8 70%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

a#btn_Cartoon{
	display: inline-block;
	margin-top: 75px;
	width: 150px;
	padding: 6px 16px;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 400;
	text-decoration-line: none;
	font-family: 'Fjalla One', sans-serif;
	letter-spacing: 0px;
	color:black;
}

a#btn_Network{
	display: inline-block;
	width: 150px;
	padding: 6px 16px;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 400;
	text-decoration-line: none;
	font-family: 'Fjalla One', sans-serif;
	letter-spacing: 0px;
	color:black;
}

a#btn_Cartoon:hover {
	display: inline-block;
	margin: auto;
	margin-top: 75px;
	padding-left: 10px;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 400;
	text-decoration: none;
	font-family: 'Fjalla One', sans-serif;
	color: white;
	background: black;
}

a#btn_Network:hover {
	display: inline-block;
	padding-left: 10px;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 400;
	text-decoration: none;
	font-family: 'Fjalla One', sans-serif;
	color: white;
	background: black;
}

a#btn_Exploding{
	display: inline-block;
	margin-top: 55px;
	width: 150px;
	padding:17px;
	padding-left: 3px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9a318+31,cf0404+92 */
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 400;
	text-decoration-line: none;
	font-family: 'Fjalla One', sans-serif;
	letter-spacing: 0px;
	color:#F15F30 ;
}

a#btn_Kittens{
	display: inline-block;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9a318+31,cf0404+92 */
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 400;
	text-decoration-line: none;
	font-family: 'Fjalla One', sans-serif;
	letter-spacing: 0px;
	color:#F13030;
}

a#btn_Exploding:hover {
	display: inline-block;
	margin: auto;
	margin-top: 55px;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 400;
	text-decoration: none;
	font-family: 'Fjalla One', sans-serif;
	text-align: center;
	background: linear-gradient(to bottom, #F9EA7E, #F15F30  70%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transform: translateY(-20px);
	transition-duration: 1s;
	color: white;
}
 
a#facebook{
	display: block;
	margin: auto;
	margin-top: 60px;
	color: #000;
	text-align: center;
	font-size: 100px;
	color: #3b5998;
}

a#facebook:hover {
	color: #3b5998;
	text-shadow: 5px 5px 5px rgba(150, 150, 183, 1);
}

a#btn_TuckerAllen{
	display: block;
	margin-top: 90px;
	color: #AD2B16;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 700;
	text-decoration: none;
	font-family: 'Prata', serif;

}

a#btn_TuckerAllen:hover {
	transform: rotateY(360deg);
	transition-duration: 3s;
	color: #274B69;
}

a#btn_TheTonightShow {
	overflow:hidden;
	background-color: #0B1C5B;
	border: 2px solid white;
	color: white;
	display: block;
	width: 100px;
	height: 100px;
	margin: auto;
	box-sizing: border-box;
	border-radius: 350px;
	margin-top: 75px;
	background-color: white;
	color: #0B1C5B  ;
	font-family: 'Fjalla One', sans-serif;
	font-size: 35px;
	font-weight: 700;
	text-align: center;
	text-decoration-line: none;	
}

a#btn_TheTonightShow:hover {
	overflow:hidden;
	background-color: #0B1C5B;
	border: 2px solid white;
	color: white;
	font-family: 'Fjalla One', sans-serif;
	font-size: 25px;
}

a#btn_StJude {
	display: inline-block;
	height: 50px;
	box-sizing: border-box;
	border-radius: 25px;
	margin: auto;
	margin-top: 100px;
	padding: 10px 40px 0 40px;
	background-color: #CB1111;
	color: white;
	font-size: 20px;
	font-family: 'Prata', serif;	
	font-weight: 400;
	text-decoration: none;
}

a#btn_StJude:hover {
	background-color: #fff;
	border: 2px solid #CB1111;
	color: #CB1111;
	transform: rotate(10deg);
	transition-duration: .5s;
}

a#btn_apple{
	display: block;
	margin: auto;
	margin-top: 60px;
	color: #000;
	text-align: center;
	font-size: 70px;
	color: black;
	text-decoration-line: none;
}

a#btn_apple:hover {
	text-decoration-line: underline;
	color: black;
	text-shadow: 5px 5px 5px rgba(150, 150, 183, 1);
}


a#btn_BotanicalGardens {
	font-family: 'Maven Pro', sans-serif;
	display: block;
	font-size: 30px;
	text-decoration: none;
	color: black;
	display: inline-block;
	height: 40px;
	box-sizing: border-box;
	border-radius: 4px;
	margin: auto;
	margin-top: 90px;
	padding: 10px 30px 0 30px;
	background-color: #6FA450;
	color: #EEE9AB;
	font-size: 18px;
}

a#btn_BotanicalGardens:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4ddb4+0,83c783+17,52b152+33,008a00+67,005700+83,002400+100;Green+3D+%231 */
	background: #b4ddb4; /* Old browsers */
	background: -moz-linear-gradient(top, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */
}

a#btn_N{
 	display: inline-block;
	margin: auto;
	margin-top: 90px;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 400;
	text-decoration: none;
	font-family: 'Arial', sans-serif;	
	color: red;
	text-align: center;
	text-transform: lowercase;
}

a#btn_P{
 	display: inline-block;
	margin: auto;
	margin-top: 90px;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 400;
	text-decoration: none;
	font-family: 'Arial', sans-serif;	
	color: black;
	text-align: center;
	text-transform: lowercase;
}

a#btn_R{
 	display: inline-block;
	margin: auto;
	margin-top: 90px;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 400;
	text-decoration: none;
	font-family: 'Arial', sans-serif;
	color: blue;
	text-align: center;
	text-transform: lowercase;
}

a#btn_N:hover {
 	display: inline-block;
	margin: auto;
	margin-top: 90px;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 400;
	text-decoration: none;
	font-family: 'Arial', sans-serif;	
	color: white;
	text-align: center;
	text-transform: lowercase;
	text-decoration: none;
	background: red;
}

a#btn_P:hover {
 	display: inline-block;
	margin: auto;
	margin-top: 90px;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 400;
	text-decoration: none;
	font-family: 'Arial', sans-serif;	
	color: white;
	text-align: center;
	text-transform: lowercase;
	text-decoration: none;
	background: black;
}

a#btn_R:hover {
 	display: inline-block;
	margin: auto;
	margin-top: 90px;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 400;
	text-decoration: none;
	font-family: 'Arial', sans-serif;
	color: white;
	text-align: center;
	text-transform: lowercase;
	text-decoration: none;
	background: blue;
}

a#btn_Ideo {
	display: block;
	margin-top: 100px;
	color: #6ED0CC;
	font-family: 'Maven Pro', sans-serif;
	text-transform: uppercase;
	font-size: 37px;
	font-weight: 400;
	text-decoration: none;
}

a#btn_Ideo:hover {
	transform: scale(1);
	transition-duration: 1s;
	color: #F1790F;
}

a#btn_lyft {
	display: inline-block;
	height: 60px;
	box-sizing: border-box;
	border-radius: 4px;
	margin: auto;
	margin-top: 105px;
	padding: 10px 30px 0 30px;
	background-color: #F0449D;
	color: white;
	font-size: 30px;
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	text-decoration: none;
}

a#btn_lyft:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff0084+26,9b0036+90 */
	background: #ff0084; /* Old browsers */
	background: -moz-linear-gradient(top, #ff0084 26%, #9b0036 90%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ff0084 26%,#9b0036 90%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ff0084 26%,#9b0036 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0084', endColorstr='#9b0036',GradientType=0 ); /* IE6-9 */
}

a#btn_Stardella_S {
	display: inline-block;
	margin: auto;
	margin-top: 95px;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 400;
	text-decoration: none;
	font-family: 'Fjalla One', sans-serif;
	color: #6AEFE9;
	text-shadow: 4px 1px 0px rgba(114, 162, 255, 1);
}

a#btn_Stardella_A {
	display: inline-block;
	margin: auto;
	margin-top: 95px;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 400;
	text-decoration: none;
	font-family: 'Fjalla One', sans-serif;
	color: #152999;
	text-shadow: 4px 1px 0px rgba(63, 203, 183, 1);
}

a#btn_Stardella_R {
	display: inline-block;
	margin: auto;
	margin-top: 95px;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 400;
	text-decoration: none;
	font-family: 'Fjalla One', sans-serif;
	color: #6AEFE9;
	text-shadow: 4px 1px 0px rgba(114, 162, 255, 1);
}

a#btn_Stardella_D {
	display: inline-block;
	margin: auto;
	margin-top: 95px;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 400;
	text-decoration: none;
	font-family: 'Fjalla One', sans-serif;
	color: #6AEFE9;
	text-shadow: 4px 1px 0px rgba(63, 203, 183, 1);
}

a#btn_Stardella_E {
	display: inline-block;
	margin: auto;
	margin-top: 95px;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 400;
	text-decoration: none;
	font-family: 'Fjalla One', sans-serif;
	color: #6AEFE9;
	text-shadow: 4px 1px 0px rgba(114, 162, 255, 1);
}

a#btn_Stardella_L1 {
	display: inline-block;
	margin: auto;
	margin-top: 95px;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 400;
	text-decoration: none;
	font-family: 'Fjalla One', sans-serif;
	color: #6AEFE9;
	text-shadow: 4px 1px 0px rgba(63, 203, 183, 1);
}

a#btn_Stardella_L2 {
	display: inline-block;
	margin: auto;
	margin-top: 95px;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 400;
	text-decoration: none;
	font-family: 'Fjalla One', sans-serif;
	color: #6AEFE9;
	text-shadow: 4px 1px 0px rgba(114, 162, 255, 1);
}

a#btn_Stardella_S:hover {
	display: inline-block;
	margin: auto;
	margin-top: 95px;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 400;
	text-decoration: none;
	font-family: 'Fjalla One', sans-serif;
	color: white;
}

a#btn_Stardella_L2:hover {
	display: inline-block;
	margin: auto;
	margin-top: 95px;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 400;
	text-decoration: none;
	font-family: 'Fjalla One', sans-serif;
	color: #152999;
}

a#btn_Stardella_L1:hover {
	display: inline-block;
	margin: auto;
	margin-top: 95px;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 400;
	text-decoration: none;
	font-family: 'Fjalla One', sans-serif;
	color: white;
}

a#btn_Stardella_A:hover {
	display: inline-block;
	margin: auto;
	margin-top: 95px;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 400;
	text-decoration: none;
	font-family: 'Fjalla One', sans-serif;
	color:#6AEFE9;
}

a#btn_Stardella_R:hover {
	display: inline-block;
	margin: auto;
	margin-top: 95px;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 400;
	text-decoration: none;
	font-family: 'Fjalla One', sans-serif;
	color:#152999;
}

a#btn_Stardella_E:hover {
	display: inline-block;
	margin: auto;
	margin-top: 95px;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 400;
	text-decoration: none;
	font-family: 'Fjalla One', sans-serif;
	color:#152999;
}

a#btn_Stardella_D:hover {
	display: inline-block;
	margin: auto;
	margin-top: 95px;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 400;
	text-decoration: none;
	font-family: 'Fjalla One', sans-serif;
	color: white;
	text-shadow: 4px 1px 0px rgba(63, 203, 183, 1);
}

a#btn_Bissingers{
	display: inline-block;
	margin-top: 75px;
	width: 150px;
	padding: 6px 16px;
	text-transform: uppercase;
	font-size: 70px;
	font-weight: 400;
	text-decoration-line: none;
	font-family: 'Milonga', cursive;
	letter-spacing: 0px;
	color:#6D4B2D;
	background: none;
}

a#btn_Bissingers:hover {
	display: inline-block;
	width: 150px;
	padding: 6px 16px;
	text-transform: uppercase;
	font-size: 70px;
	font-weight: 400;
	text-decoration-line: none;
	font-family: 'Milonga', cursive;
	letter-spacing: 0px;
	color:#F1CD3B;
	background: #A12245;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cc0000+27,cc0000+27,ad1a00+64 */
	background: #cc0000; /* Old browsers */
	background: -moz-linear-gradient(top, #cc0000 27%, #cc0000 27%, #ad1a00 64%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #cc0000 27%,#cc0000 27%,#ad1a00 64%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #cc0000 27%,#cc0000 27%,#ad1a00 64%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#ad1a00',GradientType=0 ); /* IE6-9 */
}

a#btn_foreflight{
	display: inline-block;
	margin-top: 95px;
	width: 150px;
	padding:17px;
	padding-left: 3px;
	font-size: 40px;
	font-weight: 400;
	text-decoration-line: none;
	font-family: 'Arial', sans-serif;
	color: black;
}
a#btn_foreflight:hover{
	display: inline-block;
	margin-top: 95px;
	width: 150px;
	padding:17px;
	padding-left: 3px;
	font-size: 40px;
	font-weight: 400;
	text-decoration-line: none;
	font-family: 'Arial', sans-serif;
	transform: translateY(-40px);
	transition-duration: 1s;
	color: white;
}

a#btn_newyorker{
	display: inline-block;
	margin: auto;
	margin-top: 95px;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 400;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	font-family: 'Sree Krushnadevaraya', serif;
	color: black;
	background: white;
	-webkit-box-shadow: 15px 12px 13px 0px rgba(77, 93, 128, 0.67);
	-moz-box-shadow:    15px 12px 13px 0px rgba(77, 93, 128, 0.67);
	box-shadow:         15px 12px 13px 0px rgba(77, 93, 128, 0.67);
}

a#btn_newyorker:hover {
	display: inline-block;
	margin: auto;
	margin-top: 95px;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 400;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	text-decoration: none;
	font-family: 'Sree Krushnadevaraya', serif;
	color: white;
	background: black;
}

a#btn_hsn {
	display: block;
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	border-radius: 50px;
	margin: auto;
	margin-top: 75px;
	padding-top: 25px;
	background-color: #3293CE;
	color: white;
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	text-decoration: none;
	font-family: 'Maven Pro', sans-serif;
}

a#btn_hsn:hover {
	background-color: #fff;
	border: 3px solid #3293CE;
	color: #3293CE;
}

a#btn_fitbit {
	display: block;
	width: 200px;
	height: 70px;
	box-sizing: border-box;
	border-radius: 30px;
	margin: auto;
	margin-top: 95px;
	padding-top: 10px;
	background-color: #3B4247;
	color: white;
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	text-decoration: none;
	font-family: 'Maven Pro', sans-serif;
}

a#btn_fitbit:hover {
	color: #16B3B3;
	background: none;
	transform: translateX(45px);
	transition-duration: 0.7s;
}

a#btn_ibm {
	display: inline-block;
	margin-top: 25px;
	text-decoration-line: none;
}

a#btn_ibm:hover {
	transform: rotateY(180deg);
	transition-duration: 1s;
}

a#btn_electrabike{
	width: 200px;
	height: 75px;
	padding-top: 10px;
	color: white;
	background-color: #3CCBEE;
	display: inline-block;
	margin:auto;
	margin-top: 100px;
	color: white;
	font-family: 'Dancing Script', cursive;
	font-size: 50px;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 2px;
	text-shadow: 3px 2px 1px rgba(91, 77, 82, 0.61);
}

a#btn_electrabike:hover {
	padding-left: 10px;
	padding-right: 10px;
	color: #3CCBEE;
	background:none;
	text-shadow: none;
}










