h1{
	text-align: center;
	font-size:60px;
	font-family: "jaf-domus-titling-web",sans-serif;
	font-style: normal;
	font-weight: 800;
	letter-spacing: .55em;
}

h2{
	text-align: center;
	font-weight: bold; 
	font-family: "jaf-domus-titling-web";
}
p{
	text-align: center;
	font-size:16px;
	font-family:"halyard-micro";
}

body {
	background-image: white;
	color: black;
}

p.extra{
	font-size:18px;
	color: #26C6DA ;
	font-family: "jaf-domus-titling-web",sans-serif;
	font-style: normal;
	font-weight: 800;
	text-decoration: underline;
}

p.fun{
	font-size:30px;
	color: #FF5722  ;
	font-family: "jaf-domus-titling-web",sans-serif;
	font-style: normal;
	font-weight: 800;

}
p.kanye{
	font-size:17px;
	color: #FFB300;
	font-family: "jaf-domus-titling-web",sans-serif;
	font-style: normal;
	font-weight: 800;
}
p.poop{
	font-size:25px;
	color: #FF9800;
	font-family: "jaf-domus-titling-web",sans-serif;
	font-style: normal;
	font-weight: 800;
	text-transform: capitalize;
}
.leftbox{ 
  background-image: url("http://blog.macuyiko.com/images/clouds.jpg");
  background-size: cover;
  position: absolute;
  height: 340%;
  width: 15%;
  left: 0%;
  top: 0%;
}
.rightbox{ 
  background-image: url("http://blog.macuyiko.com/images/clouds.jpg");
  background-size: cover;
  position: absolute;
  height: 340%;
  width: 15%;
  right: 0%;
  top: 0%;
}
.resize{
	text-align: center;
	max-width:15%;
 	max-height:15%;
}