body{
	margin: 15em;
	margin-top: 7em;
	font-family: 'Raleway', sans-serif;
}
h1{
	font-size: 40pt;
	font-weight: bold;
}

p.type{
	font-family: 'Raleway', sans-serif;
	font-size: 20pt;
	font-weight: 800;
	color: red;
}
p.FW_Normal{
	font-weight: normal;
}
p.bold{
	font-weight: bold;
}
p.FS_Normal{
	font-style: normal;
}
p.Italic{
	font-style: italic;
}
p.LS_Normal{
	letter-spacing: normal;
}
p.positive{
	letter-spacing: .3em;
}
p.negative{
	letter-spacing: -.06em;
}
p.TD_None{
	text-decoration: none;
}
p.Under{
	text-decoration: underline;
}
p.Through{
	text-decoration: line-through;
}
p.Over{
	text-decoration: overline;
}
p.TT_None{
	text-transform: none;
}
p.Upper{
	text-transform: uppercase;
}
p.Lower{
	text-transform: lowercase;
}
p.Caps{
	text-transform: capitalize;
}












